@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb( (--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    overflow-x: hidden; /* Hide scrollbars */
}

h1, h2, h3 {
  font-weight: bold;
}

ul {
  list-style-type: disc;
  padding-left: 40px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.avatar-holder{
  animation: avatar-in;
  transition: opacity 1s ease;
}

.skill-box {
  border-radius: 10px;
  padding: 0.25rem;
  transition: opacity 1s ease;

  text-align: center;
}

.strategy-item{
  transition: opacity 1s ease;
}

.item-holder li{
  color: gray;
  font-size: 0.7rem;
}

.base-bitparsers-page{
  background-repeat: url('../../public/Pics/bitparsers/Alexandre_st-Louis_toronto.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
}